In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
df = pd.read_excel('data/full_names.xlsx')
df.head()

                                 name
0            ابادير امير جورجى صمؤئيل
1     ابراهيم ايهاب ابراهيم على مصطفى
2          ابراهيم حسن مسعدعوض الطوار
3  ابراهيم محمد ابراهيم احمد حسن حماد
4    ابراهيم محمود محمود صالح القهوجى

In [3]:
df.shape

(109263, 1)

In [4]:
full_names = df['name'].tolist()
full_names[:2]

['ابادير امير جورجى صمؤئيل', 'ابراهيم ايهاب ابراهيم على مصطفى']

# Merge names like "عبدالرحمن"

In [5]:
print("Number of names with space after عبد compared to without space")
all_abd = len([name for name in full_names if "عبد" in name])
abd_with_space = len([name for name in full_names if "عبد " in name]) 
abd_with_space, all_abd - abd_with_space

Number of names with space after عبد compared to without space

(37009, 2604)

In [6]:
# run multiple times as some names have more than one space
for _ in range(4):
    full_names = [name.replace("عبد ", "عبد") for name in full_names]

In [7]:
print("Number of names with space after عبد compared to without space")
all_abd = len([name for name in full_names if "عبد" in name])
abd_with_space = len([name for name in full_names if "عبد " in name]) 
abd_with_space, all_abd - abd_with_space

Number of names with space after عبد compared to without space

(0, 39613)

# Get 3-words names

In [8]:
# put names in a set to ignore duplicates
names = []
for name in full_names:
    name = " ".join(name.split()[:3])
    names.append(name)

In [9]:
print(f"number of full names with duplicates: {len(names)}")
names = list(set(names))
print(f"number of full names with no duplicates: {len(names)}")

number of full names with duplicates: 109263
number of full names with no duplicates: 80885

In [10]:
names[:3]

['هبه على محمد', 'يمنى حمدونه سليمان', 'حبيبه ابو زيد']

In [11]:
pd.DataFrame(names, columns=["Name"]).to_csv("data/real_names.csv", index=None)

# Save the individual unique names

In [12]:
corpus = ""
for name in names:
    corpus += name + " "
corpus[:100]

'هبه على محمد يمنى حمدونه سليمان حبيبه ابو زيد شهد اسامه حسانين رحمه سامح فاروق بسمله رضا فاروق امير '

In [13]:
unique_name = set(corpus.split())

In [14]:
with open('data/all_names.txt','w') as f:
    f.write("\n".join(unique_name))